<%-include ../partials/header.ejs %>


    <%-include ../partials/main_nav.ejs %>

        <main class="container">
            <div class="row">
                <div class="offset-md-1 col-md-11">
                    <h1>
                        <%= title %>
                    </h1>
                    <a href="/booklist/addbook" class="btn btn-primary" role="button">
                        <i class="fas fa-plus-circle"></i>
                        Add a book

                    </a>
                    <br>
                    <table class="table table-bordered table-striped table-hover">
                        <!--    Header row-->
                        <tr class="d-flex">
                            <th class="text-center col-1">Name</th>
                            <th class="text-center col-1">Author</th>
                            <th class="text-center col-1">Published</th>
                            <th class="col-6">Description</th>
                            <th class="text-center  col-1">Price</th>
                            <th class="text-center  col-1"></th>
                            <th class="text-center  col-1"></th>
                        </tr>
                        <!--   Repeatable Template row -->
                        <% for (let count=0; count< Booklist.length; count++) { %>
                            <tr class="d-flex">
                                <td class="text-center  col-1">
                                    <%= Booklist[count].name %>
                                </td>
                                <td class="text-center  col-1">
                                    <%= Booklist[count].author %>
                                </td>
                                <td class="text-center  col-1">
                                    <%= Booklist[count].published %>
                                </td>
                                <td class="col-6">
                                    <%= Booklist[count].description %>
                                </td>
                                <td class="text-center  col-1">
                                    <%= Booklist[count].price %>
                                </td>
                                <td class="text-center  col-1">
                                    <a href="/booklist/editbook/<%= Booklist[count]._id %>"
                                        class="btn btn-primary  btn-sm">
                                        <i class="fas fa-pencil-alt"></i> Edit</a>
                                </td>
                                <td class="text-center  col-1">
                                    <a href="/booklist/deletebook/<%= Booklist[count]._id %>"
                                        class="btn btn-danger btn-sm">
                                        <i class="fas fa-trash-alt"></i> Delete</a>
                                </td>
                            </tr>
                            <% } %>
                    </table>

                </div>
            </div>

        </main>

        <%-include ../partials/bottom_nav.ejs %>
            <%-include ../partials/footer.ejs %>