<%-include ../partials/header.ejs %>
<%-include ../partials/main_nav.ejs %>

<main class="container">
    <!--Message Area-->
    <% if(messages.length > 0) {%>
        <div class="alert alert-danger">
            <%= messages %>
        </div>
        <% } %>
            <div class="row">
                <div class="offset-md-4 col-md-4">
                    <h1>Please register</h1>
                    <form class="form"  method="POST" autocomplete="off">
                        <fieldsset class="form-group">
                            <input class="form-control" name="username" id="username" placeholder="Enter username"
                                type="text" required autofocus>
                        </fieldsset>
                        <fieldsset class="form-group">
                            <input class="form-control" name="password" id="password" placeholder="Enter password"
                                type="password" required>
                        </fieldsset>
                        <fieldsset class="form-group">
                            <input class="form-control" name="email" id="email" placeholder="Enter email"
                                type="email" required>
                        </fieldsset>
                        <fieldsset class="form-group">
                            <input class="form-control" name="displayname" id="displayname" placeholder="Enter display name"
                                type="text" required>
                        </fieldsset>
                        <fieldset class="form-group text-right">
                            <input type="submit" value="Register" class="btn btn-success">
                            <a href="/">
                                <input type="button" class="btn btn-warning" value="Cancel">
                            </a>
                        </fieldset>
                    </form>
                </div>
            </div>

</main>


<%-include ../partials/bottom_nav.ejs %>
<%-include ../partials/footer.ejs %>